extends layout

mixin moodButton(moodOption)
  label.mood-form(for= "#{moodOption.mood}")
    input(id= "#{moodOption.mood}", type='radio', name="mood", value="#{moodOption.mood}")
    div
      img(src="#{moodOption.imagePath}")
      div.mood-label-block
        svg.mood-block(width=15, height=15)
          rect(width=15, height=15, style="fill: #{moodOption.color}")
        p.mood-label #{moodOption.label}

block content

  include partials/mood_graph

  hr

  h1(id="mood-prompt") How do you feel today?
  form#mood-form(method='POST' action='')
    div
      input(id="form-date" name="date" type="hidden")
      for moodOption in options
        +moodButton(moodOption)
      p.note-field Notes:
      textarea(id="note-field" form="mood-form" name="note" rows="8" cols="50")
    button.pure-button.pure-button-primary(type='submit') Submit

  script.

    var today = new Date();
    today = getUTCDate(today);
    today.setUTCHours(23);
    console.log(today.toUTCString());

    function rectOnClick(d, i) {
        var rectDate = new Date(d.date);
        if (rectDate > today){
           return;
        } 
        curDate = new Date(d.date);
        updateNotes(curDate)
        updateDisplay();
    }
    
    function updateNotes(date) {
        var curDay = getDay(user, date);
        document.getElementById('note-field').value = curDay.note ? curDay.note : ''
    }
    
    function updateDisplay(note) {
        var graphRects = d3.select('.heatmap').selectAll('rect')
        graphRects.attr('stroke-width', (d) => equalDate(new Date(d.date), curDate) ? '1px' : '0px')
        document.getElementById('form-date').value=curDate
        var moodPrompt = document.getElementById('mood-prompt')
        if (equalDate(curDate, today)){
            moodPrompt.innerHTML = "How do you feel today?"
        } else {
            moodPrompt.innerHTML = "How did you feel on " + moment.utc(curDate).format('dddd, MMM Do YYYY') + "?"
        }
    }
    createGraph()
    var curDate = new Date()
    var graphRects = getGraphRects();
    graphRects.style('opacity', (d) => new Date(d.date).getTime() > today.getTime() ? 0.5 : 1)
    graphRects.on('click', rectOnClick)
    curDate = getUTCDate(curDate)
    console.log(curDate.toUTCString())
    updateNotes(curDate)
    document.getElementById('form-date').value=curDate
