extends layout

block content

  script curDate = new Date()
  include partials/mood_graph

  hr

  h1(id="mood-prompt") How do you feel today?
  form(method='POST' action='')
    div
      input(id="form-date" name="date" type="hidden")
      for moodOption in options
        label.mood-form(for= "#{moodOption.mood}")
          input(id= "#{moodOption.mood}", type='radio', name="mood", value="#{moodOption.mood}")
          div
            img(src="#{moodOption.imagePath}")
            div.mood-label-block
              svg.mood-block(width=15, height=15)
                rect(width=15, height=15, style="fill: #{moodOption.color}")
              p.mood-label #{moodOption.label}
       label.note-field(for="note-field") Notes: 
        input(id="note-field" name="note" type="text")
    button.pure-button.pure-button-primary(type='submit') Submit

  script.
    curDate = getUTCDate(curDate)
    console.log(curDate.toUTCString());
    document.getElementById('form-date').value=curDate
