extends layout

mixin moodButton(moodOption)
  label.mood-form(for= "#{moodOption.mood}")
    input(id= "#{moodOption.mood}", type='radio', name="mood", value="#{moodOption.mood}")
    div
      img(src="#{moodOption.imagePath}")
      div.mood-label-block
        svg.mood-block(width=15, height=15)
          rect(width=15, height=15, style="fill: #{moodOption.color}")
        p.mood-label #{moodOption.label}

block content

  include partials/mood_graph

  hr

  h1(id="mood-prompt") How do you feel today?
  form#mood-form(method='POST' action='')
    div
      input(id="form-date" name="date" type="hidden")
      for moodOption in options
        +moodButton(moodOption)
      p.note-field Notes:
      textarea(id="note-field" form="mood-form" name="note" rows="8" cols="50")
    button.pure-button.pure-button-primary(type='submit') Submit

  script(src="/javascripts/user_detail.js")

