extends layout

block content

  script curDate = new Date()
  include partials/mood_graph

  hr

  h1 How do you feel today?
  form(method='POST' action='')
    div
      for moodOption in options
        label.mood-form(for= "#{moodOption.mood}")
          input(id= "#{moodOption.mood}", type='radio', name="mood", value="#{moodOption.mood}")
          div
            img(src="#{moodOption.imagePath}")
            div.mood-label-block
              svg.mood-block(width=15, height=15)
                rect(width=15, height=15, style="fill: #{moodOption.color}")
              p.mood-label #{moodOption.label}
    button.pure-button.pure-button-primary(type='submit') Submit
